@import 'custom';
@import 'reset';

@mixin font($em){
    font-size: ($em*16) + px;
    font-size: ($em) + em;
}

// ===============================
// GR Redesign
// ===============================

body {
	font-family: sans-serif;
	color: $black;
}

 span {
	font-family: "futura-pt",sans-serif;
}

p.top {
	@include font(0.875);
	color: $grgrey;
	margin-top: 20px;
}

.section {
	padding-top: 40px;
}

.style-guide {
	width: 85%;
	margin: 0 auto;
	padding: 30px 0;
}

.guide-content {
	width: 85%;
	margin: 30px auto;
}

.horiz-line {
	width: 100%;
	border-top: 1px solid $grgrey;
	margin: 65px 0 0 0;
}

header {
	background-color: white;
	top: 0;
	padding-top: 5px;
	margin: 0 auto;
}

nav {
	margin: 35px auto;
	background-color: $grblue;
	padding: 8px 0;
	text-align: center;
}

a {
	text-decoration: none;
	color: $white;
	&:hover {
		color: $grorange;
	}
}

h1 {
	font-family: "futura-pt",sans-serif;
	font-weight: light;
	@include font(1.8);
	text-align: center;
	color: $black;
	margin-bottom: 30px;
}

.bold {
	font-weight: bold;
}

h3 {
	margin-top: 25px;
	color: $black;
	height: 35px;
	text-align: left;
	text-transform: uppercase;
	@include font(1.8);
}

h4 {
	text-align: left;
	margin: 30px 0 20px 0;
	font-weight: bold;
	@include font(1.875);
}

h6 {
	font-family: "futura-pt",sans-serif;
	line-height: 1.8;
	@include font(1.4);
}

.bold2 {
	font-weight: bold;
}

p {
	color: $black;
	font-family: "Arial";
	line-height: 1.8;
	@include font(1.2);
	// margin: 10px 0;
}

li {
	display: inline;
	margin: 0 12px;
	line-height: 1.8;
	font-weight: normal;
	@include font(1);
}

// TYPOGRAPHY
.header {
		@include font(2);
	}

// LINKS SPAN
.bold-link {
	color: $grblue;
	font-weight: bold;
	@include font(1.2);
	margin-top: 5px;
}
span.reg-link {
	color: $grblue;
	@include font(1);
	font-family: "jaf-bernina-sans-condensed",sans-serif;
}

// ACTIVE SPAN
.active {
	color: $grorange;
	@include font(1);
}
	
// COLORS
.box { 
	width: 100px;
	height: 100px;
	padding: 10px;
	display: inline-block;
	margin: 20px 20px 10px 0;
}
.one {
	background-color: $grblue;
}
.two {
	background-color: $grorange;
}
.three {
	background-color: $gryellow;
}
.four {
	background-color: $grgrey;
}
.five {
	background-color: $grpurple;
}

// ICONS
.icons-mobile {
	margin: 5px 0 20px 0;
	max-width: 300px;
}
.icons-full {
	margin: 5px 0 20px 0;
}
.icons-desk {
	margin: 5px 0 20px 0;
	max-width: 200px;
}
.icons-small {
	margin: 5px 0 20px 0;
	max-width: 50px;
}
.ribbon {
	margin: 5px 0 0 0;
	max-width: 60px;
}

// GRID
.col {
	background-color: $grgrey;
	display: inline-block;
	padding: 5px;
	text-align: center;
	margin: 5px 0 20px 0;
}
.full {
	width: 91%;
}
.left {
	width: 30%;
}
.right {
	width: 60%;
}
.left-3 {
	width: 20%;
}
.right-9 {
	width: 70%;
}
	

// ACTIVE
.cog {
	width: 40px;
	display: block;
	margin: 10px 0;
}

// BUTTONS
.buttons {
	height: 30px;
	width: 70px;
	margin: 5px 0 10px 0;
}

// USER IMAGES
.avatar {
	background-color: $grgrey;
	padding: 10px;
	margin: 5px 10px 30px 0;
	text-align: left;
	font-family: "Arial";
	@include font(0.8);
	border-radius: 15%;
}
.user-mobile-home {
	height: 45px;
	width: 45px;
}
.user-desktop-home {
	height: 48px;
	width: 48px;
}
.user-mobile-profile {
	height: 52px;
	width: 52px;
}
.user-desktop-profile {
	height: 88px;
	width: 88px;
}
.friends {
	height: 31px;
	width: 31px;
	margin-bottom: 10px;
}

// BOOKS
.book {
	background-color: $grgrey;
	margin: 5px 10px 30px 0;
	padding: 10px;
	@include font(0.8);
	font-family: "Arial";
}
.mobile-feed {
	width: 37px;
	height: 56px;
}
.desktop-feed {
	width: 41px;
	height: 62px;
}
.desktop-reccs {
	width: 56px;
	height: 89px;
}
.mobile-shelves {
	width: 200px;
	height: 311px;
}
.desktop-shelves {
	width: 94px;
	height: 125px;
}
.mobile-profile {
	width: 28px;
	height: 44px;
}
.desktop-profile {
	width: 37px;
	height: 57px;
}
.desktop-ad {
	width: 90px;
	height: 117px;
	margin-bottom: 10px;
}

// RATINGS
.stars {
	margin-top: 10px;
	width: 86px;
}

// SEARCH
.search {
	margin: 5px 0 20px 0;
}
.mobile {
	width: 300px;
}
.desktop {
	width: 190px;
}
.status {
	width: 221px;
	margin-bottom: 0;
}




// @import 'mid-media';
// @import 'mid2-media';
// @import 'mid3-media';
@import 'max-media';






